<section id="edit-page">
    <div class="editSection">
        <div class="info-edit">
            <h2>"Една тайна, която може да промени съдбата на света, една сила, която малцина разбират, и една сянка, която чака своя миг."</h2>
        </div>

        <form method="POST" class="editForm">
            <h2>Редактирай</h2>
            <ul class="noBullet">
                <li>
                    <label for="title">Заглавие:</label>
                    <input type="text" class="inputFields" id="title" name="title" value="{{book.title}}" />
                </li>

                <li>
                    <label for="director">Автор:</label>
                    <input type="text" class="inputFields" id="director" name="director" value="{{book.author}}" />
                </li>

                <li>
                    <label for="image">Корица:</label>
                    <input type="text" class="inputFields" id="image" name="imageUrl" value="{{book.imageUrl}}" />
                </li>

                <li>
                    <label for="description">Описание:</label>
                    <textarea id="description" class="inputFields" name="description">{{book.description}}</textarea>
                </li>
                <li id="center-btn">
                    <button id="edit-btn">Запази</button>
                </li>
            </ul>
        </form>

    </div>
</section>