            <div class="full-screen">
                <div class='about'>
                    <div class="contact-img">
                        <img src="/img/about-image.png">
                    </div>

                    <div class="about-contact">
                        <div id="first">
                            <h1>Адрес:</h1>
                            <div id="address">
                                <p>с.Кабиле</p>
                                <p>ул.Ст.Караджа №30</p>
                            </div>
                        </div>
                        <div id="second">
                            <h1>Контакти:</h1>
                            <div id="contacts">
                                <p>+ 359 899 48 84 96 </p>
                                <p>+ 359 898 57 09 42 </p>
                                <p>tannq22@abv.bg</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
