{{setTitle "Home"}}

<section id="catalog">
    <h1>Всички Книги</h1>
    <div class="band">

        <!-- If there are posts for creature in the database display each of them -->
        {{#each movies}}
        {{>movie}}
        {{else}}
        <div class="no-posts">
            <p class="no-offer">Все още няма публикации...</p>
        </div>
        {{/each}}

    </div>
</section>