<section id="search">
    <h1>Търсене</h1>
    <form action="/books/search" method="GET" class="form">
        <input type="text" class="search" name="search" placeholder="Заглавие..." value="{{filter.search}}">
        <!--<input type="text" name="genre" class="genre" placeholder="Genre..." value="{{filter.title}}">-->
        <input type="text" name="author" class="search" placeholder="Автор" value="{{filter.author}}">
        <input type="submit" value="Търси">
    </form>
</section>

<section id="catalog">
    <div class="band">

        <!-- If there are posts for movie in the database display each of them -->
        {{#each books}}
        {{>book}}
        {{else}}
        <div class="no-posts">
            <p class="no-offer">Няма съвпадения...</p>
        </div>
        {{/each}}

    </div>
</section>