<section id="register-page">
    <div class="registerSection">
        <div class="info-register">
            <h2>„Винаги съм си представял, че райът ще бъде някаква библиотека.“ - Хорхе Луис Борхес</h2>
        </div>
        <form method="POST" class="registerForm">
            <h2>Регистрация</h2>
            <ul class="noBullet">
                <li>
                    <label for="username">Потребителско име:</label>
                    <input type="text" class="inputFields" id="username" name="username" value="{{username}}" />
                </li>
                <li>
                    <label for="password">Парола:</label>
                    <input type="password" class="inputFields" id="password" name="password" />
                </li>
                <li>
                    <label for="repeat-password">Повтори-Парола:</label>
                    <input type="password" class="inputFields" id="repeat-password" name="repass" />
                </li>
                <li id="center-btn">
                    <button id="join-btn">Регистрация</button>
                </li>
            </ul>
        </form>
    </div>
</section>